<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>{{name}}</title>
  <link rel="canonical" href="https://www.artfestpatrimonios.pt/detalhes/grupo/{{slug}}">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta name="description" content="{{name}}">
  <meta name="keywords" content="{{name}} {{genre}}">
  <meta name="article-author" content="ArtFest Patrimonios">
  <meta property="og:type" content="profile">
  <meta property="og:title" content="{{name}}">
  <meta property="og:description" content="{{name}} {{genre}}">
  {{#if images.featured}}
  <meta property="og:image" content="{{images.featured}}">
  {{/if}}
  <meta property="og:site_name" content="Artfest Patrimónios">
  <meta property="og:url" content="https://www.artfestpatrimonios.pt/detalhes/grupo/{{slug}}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://www.artfestpatrimonios.pt/detalhes/grupo/{{slug}}">
  <meta name="twitter:title" content="{{name}}">
  <meta name="twitter:description" content="{{name}} {{genre}}">
  {{#if images.featured}}
  <meta name="twitter:image:src" content="{{images.featured}}">
  {{/if}}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "PerformingGroup",
    "id": "https://www.artfestpatrimonios.pt/detalhes/grupo/{{slug}}",
    "name": "{{name}}",
    "description": "{{description}}"
    {{#if scheduele}}
    ,"events": [
    {{#each scheduele}}
    {{#ifNotFirst @index}},{{else}}
    {{/ifNotFirst}}
    {
      "@type": "Event",
      "location": "{{place}} - {{local}}",
      "startDate": "{{date}}"
    }
    {{/each}}
    ]
    {{/if}}

  }
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <script defer type="text/javascript" src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <link rel="stylesheet" href="../../bower_components/bulma-carousel/dist/bulma-carousel.min.css">
  <script defer type="text/javascript" src="../../bower_components/bulma-carousel/dist/bulma-carousel.min.js"></script>
  <style>
    :host {
      display: block;
    }
    .main-title: {
      text-align: center;
    }
  </style>
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="main-title title is-1">
        {{name}}
      </h1>
      <p class="subtitle">
        {{genre}}
      </p>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="content">
        <p>{{{parseGroupDesc bio}}}</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <figure>
        <img  src="{{buildUrl images.featured}}" attribution="{{name}}" alt={{name}}></img>
      </figure>
    </div>
  </section>

  {{#if videos}}
    {{#videos}}
      <section class="section">
        <div class="content" style="position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;">
          <iframe 
            src="https://www.youtube.com/embed/{{getYoutubeVideoID url}}"
            style="position: absolute; top: 0; left:0; width: 100%; height: 100%;"
            frameborder="0"
            width= "16"
            height= "9"
            allow="autoplay; encrypted-media"
            allowfullscreen>
          </iframe>
        </div>
      </section>
    {{/videos}}
  {{/if}}

  {{#if composition}}
  <section class="section">
    <div class="content">
      <h2 class="title is-3">Composição</h2>
      <ul>
        {{#composition}}
        <li>{{name}} - {{role}}</li>
        {{/composition}}
      </ul>
    </div>
  </section>
  {{/if}}

  {{#if images.group}}
  <section class="section">
    <div class="content">
      <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
        <div class='carousel-container'>
          {{#images.group}}
          <div class='carousel-item has-background is-active'>
            <img class="is-background" src="/{{{url}}}" alt="{{name}}" width="{{width}}" height="{{height}}" />
            {{#if caption}}
            <div class="title">{{caption}}</div>
            {{/if}}
          </div>
          {{/images.group}}
      </div>
    </div>
  </section>
  {{/if}}

  {{#if curriculum}}
  <section class="section">
    <div class="container">
      <h1 class="title is-3">Curriculum</h1>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="content">
        <p>{{{parseGroupDesc curriculum}}}</p>
      </div>
    </div>
  </section>
  {{/if}}

  <hr />

  {{#if scheduele}}
  <section class="section">
    <div class="container">
      <h2 class="title is-3">Espectáculos</h2>
  {{#each scheduele}}
  <article class="media">
    <figure class="media-left">
      <h2 class="title is-4">{{local}}</h2>
    </figure>
    <div class="media-content">
      <div class="content" style="">
        <span style="display: inline-block; margin-left: 1em;"><i class="fas fa-map-marker-alt"></i>{{place}}</span>
        <span style="display: inline-block; margin-left: 1em;"><i class="fas fa-calendar-alt"></i>{{date}}</span>
        <span style="display: inline-block; margin-left: 1em;"><i class="fas fa-clock"></i>{{date}}</span>
      </div>
    </div>
  </article>
  {{/each}}
    </div>
  </section>
  {{/if}}

</body>

</html>